body {
    padding: 10px;
}

.main {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20%;
}

.sub-div {
    width: 80%;
    margin-top: 20px;
    margin-inline: 50px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 15px;
    border-radius: 10px;
}

.form-group label {
    width: 100%;
    margin-bottom: 5px;
    margin-left:45px;
}

.form-control,
.form-control-sm {
    width: 50%;
    font-size: 15px;
    border: 1px solid black;
}

.form-control-sm {
    width: 70%;
}

button {
    background-color: #0d77e8;
    color: white;
    cursor: pointer;
}

.container-btn {
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
    .sub-div {
        width: 80%;
        margin-inline: 89px;
    }

    .form-group label {
        width: 20%;
    }

    .form-control,
    .form-control-sm {
        width: 40%;
    }

    .form-control-sm {
        width: 30%;
    }
}
