body {
    padding: 10px;
}

.form-group .form-control {
    display: block;
    width: 40%;
    font-size: 15px;
    border: 1px solid black;
}

div.form-group {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    margin-bottom: 10px;
}

.form-group label {
    width: 40%;
    margin-left: 70px;
}

h6 {
    margin-left: 50px;
}

.sub-div {
    width: 80%;
    margin-top: 20px;
    margin-inline: 50px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.radio-container {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
}

button {
    background-color: #0d77e8;
    color: white;
    cursor: pointer;
}

.container-btn {
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .form-group .form-control {
        width: 100%;
    }

    div.form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group label {
        width: 100%;
        margin-left: 0;
        margin-bottom: 5px;
    }

    .sub-div {
        width: 100%;
        margin-inline: 0;
    }
}
